.header{
    position: fixed;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    line-height: 4;
    z-index: 99999;
    background: white;
    .companyName{
        padding-left: 14px;
    font-size: 22px;
    font-weight: bold;
    
    }
    .mtop{
        margin: auto;
    }
}